# Auto-merge Dependabot PR
# c.f. https://blog.smartbank.co.jp/entry/2023/02/16/dependabot-auto-merge-with-github-app

on:
  workflow_call:
    secrets:
      app-id:
        description: GitHub App ID
        required: true
      private-key:
        description: GitHub App private key
        required: true
      slack-webhook:
        description: Slack incoming webhook url
        required: false

jobs:
  dependabot-auto-merge:
    name: Auto-merge Dependabot PR

    runs-on: ubuntu-latest

    if: github.actor == 'dependabot[bot]'
    timeout-minutes: 13

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.app-id }}
          private-key: ${{ secrets.private-key }}

      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}

      - name: Approve & enable auto-merge for Dependabot PR (patch version up)
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch'
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      # Now, development is only supported for bundler, composer, mix, maven, npm, pip
      # c.f. https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference#dependency-type-allow
      - name: Approve & enable auto-merge for Dependabot PR (minor version up && development dependencies)
        if: steps.metadata.outputs.update-type == 'version-update:semver-minor' && steps.metadata.outputs.dependency-type == 'direct:development'
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Approve & enable auto-merge for Dependabot PR (minor version up && go_modules)
        if: steps.metadata.outputs.update-type == 'version-update:semver-minor' && steps.metadata.outputs.package-ecosystem == 'go_modules'
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.slack-webhook }}
