# Run `rbs collection update` and create Pull Request for rbs_collection.lock.yaml

on:
  workflow_call:
    inputs:
      assignees:
        description: PR assignees
        type: string
        required: false

    secrets:
      app-id:
        description: GitHub App ID
        required: true
      private-key:
        description: GitHub App private key
        required: true
      slack-webhook:
        description: Slack incoming webhook url
        required: false

jobs:
  rbs-collection-updater:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ruby
          bundler-cache: true

      - run: bundle exec rbs collection update

      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.app-id }}
          private-key: ${{ secrets.private-key }}

      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          token: ${{ steps.app-token.outputs.token }}
          committer: GitHub <noreply@github.com>
          title: "Update rbs_collection.lock.yaml"
          commit-message: "Run `bundle exe rbs collection update`"
          labels: rbs-collection-updater
          branch: rbs-collection-updater
          branch-suffix: short-commit-hash
          assignees: ${{ inputs.assignees }}
          add-paths: |
            rbs_collection.lock.yaml

      - name: Slack Notification
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: always()
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.slack-webhook }}
